<section class="section-Class">
    <div class="blob-circle">
        <img src="assets/circle.svg">
    </div>
    <div class="blob-circle-left">
        <img src="assets/blob-small.svg">
    </div>
    <div class="flex-container">
        <div class="small-container">
            <h1 class="header-text">We Make it Super Simple</h1>
            <div class="divider black"></div>
            <div class="img-container">
                <img id="idCollectImg" src="assets/collect_img-video.png" style="margin-top: 80px;">
                <img id="dots" src="assets/accounting_dots.svg" style="position: absolute;
                bottom: -28px;
                right: -100px;
                z-index: -999;">
            </div>
        </div>
        <div>
            <app-calculator></app-calculator>
        </div>
    </div>
</section>