.section-Class {
    position: relative;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small-container {
    width: fit-content;
    padding: 150px 90px;
}

.small-container h1 {
    width: 70%;
    margin: 5px 60px;
}

.img-container {
    position: relative;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

.black {
    background: #222222;
    width: 236px;
    margin: 5px 60px;
}

.header-text {
    font-family: "Montserrat-Medium";
    font-size: 40px;
    font-weight: 100;
}

.blob-circle {
    position: absolute;
    right: -200px;
    top: -340px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.blob-circle-left {
    position: absolute;
    top: 100px;
    left: -150px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}